<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <p><font size="+3"><b>Education<br></font></b>
                    <li> 2023.12-2024.06, Università della Svizzera italiana (USI), Collaborative Researcher<br></li>
                    <li> 2022.10-, Tokyo Institute of Technology (Tokyo Tech), Computer Science, PhD<br></li>
                    <li> 2020.09-2022.09, Tokyo Institute of Technology (Tokyo Tech), Computer Science, Master<br></li>
                    <li> 2016.09-2020.06, Dalian University of Technology (DUT), Software Engineering, Bachelor<br></li>
                    <br></p>
                <p><font size="+3"><b>Selected Publications<br></font></b>
                        <li>Lei Chen, Shinpei Hayashi. <a href="https://www.worldscientific.com/doi/10.1142/S0218194024500438">MORCoRA: Multi-Objective Refactoring Recommendation Considering Review Availability. Accepted by Int'l Journal of Software Engineering and Knowledge Engineering, International Journal of Software Engineering and Knowledge Engineering, vol. 34, no. 12, pp. 1919-1947. dec, 2024.</a></li>
                        <li>Lei Chen, Michele Lanza, Shinpei Hayashi. <a href=https://arxiv.org/abs/2409.09923>Understanding Code Change with Micro-Changes.</a> In Proceedings of the 40th IEEE International Conference on Software Maintenance and Evolution (ICSME 2024). Flagstaff, AZ, USA, oct, 2024.</li>
                        <li>Lei Chen, Shinpei Hayashi <a href = "https://ieeexplore.ieee.org/document/9796323">Impact of Change Granularity in Refactoring Detection.</a> In Proceedings of the 30th IEEE/ACM International Conference on Program Comprehension (ICPC 2022), Early Research Achievements (ERA) Track, pp. 565-569. Online, may, 2022<br></li>
                        
                        <li>Kota Someya, Lei Chen, Shinpei Hayashi. <a href="https://ken.ieice.org/ken/paper/20250311zcJM/"> Explanation of differences between functionally equivalent method pairs through behaviorally equivalent change sequences.</a> IEICE Tech. Rep., vol. 124, no. 429, pp. 85-90. 2025. <span style="color: red;">Research Encouragement Award</span></li>
                        <li>Takayoshi Ueno, Lei Chen, Shinpei Hayashi. <a href="https://ken.ieice.org/ken/paper/20240307Jc1o/"> Development of an Environment for Identifying Refactorings in Source Code Changes.</a> IEICE Tech. Rep., vol. 123, no. 414, pp. 43-48. 2024.</li>
                        <li>Yuko Higuchi, Lei Chen, Shinpei Hayashi. <a href="https://ken.ieice.org/ken/paper/20240307qcbn/"> . Extraction and Automatic Application of Source Code Change Patterns Based on Abstract Syntax Trees.</a> IEICE Tech. Rep., vol. 123, no. 414, pp. 43-48. 2024. <span style="color:red">Research Encouragement Award</span> </li>
                        <li> Lei Chen, Shinpei Hayashi <a href = "https://ken.ieice.org/ken/paper/20220730SCLv/eng/">The Use of Review Effort Objective for Search-based Refactoring Recommendation.</a>IEICE Tech. Rep., vol. 122, no. 138, SS2022-18, pp. 103-108, July 2022.<br></li>
                        <li> Lei Chen. <a href = "https://onlinelibrary.wiley.com/doi/full/10.1002/spy2.22">Security and privacy on physical layer for wireless sensing: A survey[J]. </a>Security and Privacy, 2018, 1(5): e22.<br></li>
                    <br></p>
                <p><font size="+3"><b>Presentations<br></font></b>
                    <li> 2024.10 40th IEEE International Conference on Software Maintenance and Evolution (ICSME 2024), Flagstaff, AZ, USA <a href="https://conf.researchr.org/details/icsme-2024/icsme-2024-papers/31/Understanding-Code-Change-with-Micro-Changes">Understanding Code Change with Micro-Changes.</a><br></li>
                    <li> 2022.09 ソフトウェアエンジニアリングシンポジウム2022 既発表論文, 東京早稲田大学西早稲田キャンパス<a href = "https://ses.sigse.jp/2022/program.html">Impact of Change Granularity in Refactoring Detection.</a><br></li>
                    <li> 2022.07 2022年電子情報通信学会 ソフトウェアサイエンス研究会 (IEICE/SS), 北海道自治労会館<a href = "https://ken.ieice.org/ken/program/index.php?tgs_regid=ec3559e90bcaa8fc57205cb4a3e98d48fb648281bacae9ae229dcb01104f8774">探索に基づくリファクタリング推薦におけるレビュー工数見積もりの利用.</a><br></li>
                    <li> 2022.05 30th IEEE/ACM International Conference on Program Comprehension (ICPC 2022 ERA), online <a href = "https://conf.researchr.org/track/icpc-2022/icpc-2022-era?">Impact of Change Granularity in Refactoring Detection.</a><br></li>
                    <br></p>
            <p><font size="+3"><b>Work Experience<br></font></b>
                <li>2024.02-2024.10, Research & Development internship in <a href="https://www.sony.net/">Sony Group Corporation</a>, Sony City Osaki, Shinakawa-ku, Tokyo </li>
                <li>2022.08-2022.09, Research & Development internship in <a href="https://www.rd.ntt/e/sic/">NTT Software Innovation Center</a>, Shinagawa Season Terrace, Shinagawa-ku, Tokyo</li>
                <li>2021-2022, Research Assistant in Tokyo Institute of Technology</li>
            <br></p>
                <p><font size="+3"><b>Awards<br></font></b>
                        <li>2023-, Tokyo Tech Program for Development of Next-Generation Front-Runners with Comprehensive Knowledge and Humanity </li>
                        <li>2022-, Tokyo Tech Advanced Human Resource Development Fellowship for Doctoral Students</li>
                        <li>2022, Graduate student vice-delegate, School of Computing, Tokyo Institute of Technology</li>
                        <li>2020, Monbukagakusho Honors Scholarship, JASSO</li>
                        <li>2019, <i>National Universities Green Computing Contest</i> Second prize</li>
                        <li>2018, <i>National Universities Block Chain Contest</i> Second prize</li>
                        <li>2017-2018, Top Student Academic Scholarship, DUT</li>
                        <li>2016-2017, Top Student Academic Scholarship, DUT<br></li>
                    <br></p>
                <p><font size="+3"><b>Skills<br></font></b>
                        <li> Python, Java, Go, HTML, JS,  </li>
                        <li> Git, GitHub, CI/CD, Docker, DockerCompose</li>
                        <li> PostgresSQL, MySQL</li>
                        <li> Language: English (TOEFL iBT 94/120), Japanese (JLPT N2 154/180), Chinese (native)<br></li>
                        <li>Cooking: Cook every day</li>
                    <br></p>
            </div>

        </div>
</section>