<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/projects"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <p><font size="+3"><b>Education<br></font></b>
                        <li> 2016.09-2020.06, Dalian University of Technology (DUT), Software Engineering, Bachelor<br></li>
                        <li> 2020.09-2022.09, Tokyo Institute of Technology (Tokyo Tech), Software Engineering, Master<br></li>
                    <br></p>
                <p><font size="+3"><b>Selected Publications<br></font></b>
                        <li> Chen L, Hayashi S. <a href = "https://conf.researchr.org/details/icpc-2022/icpc-2022-era/1/Impact-of-Change-Granularity-in-Refactoring-Detection">Impact of Change Granularity in Refactoring Detection.</a>30th IEEE/ACM International Conference on Program Comprehension (ICPC 2022)<br></li>
                        <li> Chen L, Hayashi S. <a href = "https://ken.ieice.org/ken/paper/20220730SCLv/eng/">The Use of Review Effort Objective for Search-based Refactoring Recommendation.</a>IEICE Tech. Rep., vol. 122, no. 138, SS2022-18, pp. 103-108, July 2022.<br></li>
                        <li> Chen L. <a href = "https://onlinelibrary.wiley.com/doi/full/10.1002/spy2.22">Security and privacy on physical layer for wireless sensing: A survey[J]. </a>Security and Privacy, 2018, 1(5): e22.<br></li>
                    <br></p>
                <p><font size="+3"><b>Awards<br></font></b>
                        <li> 2016-2017, Academic Scholarship, DUT<br></li>
                        <li> 2016, <i>Uchallenge English Reading Contest</i> Third prize<br></li>
                        <li> 2017-2018, Academic Scholarship, DUT</li>
                        <li>2018, <i>National Universities Block Chain Contest</i> Second prize</li>
                        <li>2019, <i>National Universities Green Computing Contest</i> Second prize</li>
                        <li> 2020, Monbukagakusho Honors Scholarship, JASSO</li>
                    <br></p>
                <p><font size="+3"><b>Skills<br></font></b>
                        <li> Python, Java </li>
                        <li> Language: English (TOEFL iBT 94/120), Japanese (JLPT N2 154/180), Chinese (native)<br></li>
                        <li>Cooking: Cook every day</li>
                    <br></p>
            </div>

        </div>
</section>